<div class="container-fluid">
    <div style="border-top: solid 5px green"></div>
    <div class="row">
      <div class="col-4">        
        <p>Patients:</p>
          <ul *ngFor= "let patient of Patients | async" >
              <li>
                {{patient.PatientNumber}}</li>
          </ul>
        <form (click)="onSubmit4()">
          <div class="form-group">
              <input type="text" name="patient" placeholder="Patients number" [(ngModel)]="patient" class="form-control">
          </div>
          <div class="form-group">
              <input type="number" name="drugNumber" placeholder="Drug Number" [(ngModel)]="drugNumber" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="description" placeholder="Description" [(ngModel)]="description" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="dosage" placeholder="Dosage" [(ngModel)]="dosage" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="methodOfAdmin" placeholder="Method of admin" [(ngModel)]="methodOfAdmin" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="unitsPerDay" placeholder="Units per day" [(ngModel)]="unitsPerDay" class="form-control">
          </div>
          <div class="form-group">
            <p>Date patient left:</p>
            <input type="date" name="startDate" placeholder="Start date" [(ngModel)]="startDate" class="form-control">
          </div>
          <div class="form-group">
            <input type="date" name="finishDate" placeholder="Finish Date" [(ngModel)]="finishDate" class="form-control">
          </div>
          <button type="submit" class="btn btn-success" *ngIf="isVisibleCreatePatient">Submit Patient</button>
        </form>
        <button type="submit" (click)="onUpdate(this.id)" class="btn btn-success" *ngIf="isVisibleUpdatePatient">Update patient placement</button>
      </div>
      <div class="col-6 offset-2">
          <div style="border-top: solid 5px green">
            <div *ngFor="let inpatient of inpatients | async">
              <p>
                <strong>Patient Number:</strong>
                {{ inpatient.Patient }}
              </p>
              <p>
                <strong>Ward Number:</strong>
                {{ inpatient.WardPlaced }}
              </p>
              <p>
                <strong>Date placed on list:</strong>
                {{ inpatient.DatePlacedOnList }}
              </p>
              <p>
                <strong>Expected stay:</strong>
                {{ inpatient.ExpectedStay }} days
              </p>
              <p>
                <strong>Date Placed In Ward:</strong>
                {{ inpatient.DatePlacedInWard }}
              </p>
              <p>
                <strong>Date patient will leave:</strong>
                {{ inpatient.DateLeave }}
              </p>
              <p>
                <strong>Date patient left:</strong>
                {{ inpatient.ActualLeave }}
              </p>
              <p>
                <strong>Bednumber:</strong>
                {{ inpatient.BedNumber }}
              </p>
                <button type="button" class="btn btn-primary" (click)="onEdit(inpatient.InpatientNumber, inpatient.Patient, inpatient.WardPlaced, inpatient.DatePlacedOnList, inpatient.ExpectedStay, inpatient.DatePlacedInWard, inpatient.DateLeave, inpatient.ActualLeave, inpatient.BedNumber)">Edit</button>
                <div style="border-top: solid 5px green"></div>
            </div>
          </div>
      </div>
    </div>
  </div>