<div class="container-fluid">
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <input placeholder="Locate medication for patient" class="form-control" [(ngModel)]="patient">
        </div>
        <button type="button" class="btn btn-success" (click)="seachPatientMedication()">Locate</button>
        <div style="border-top: solid 5px green"></div>
        <div *ngFor="let patientmedication of patientmedications | async">
            <p>
              <strong>Patient Number:</strong>
              {{ patientmedication.Patient }}
            </p>
            <p>
              <strong>Drug Number:</strong>
              {{ patientmedication.DrugNumber }}
            </p>
            <p>
              <strong>Name of drug:</strong>
              {{ patientmedication.DrugName }}
            </p>
            <p>
              <strong>Description:</strong>
              {{ patientmedication.Description }}
            </p>
            <p>
              <strong>Method Of Admin:</strong>
              {{ patientmedication.MethodOfAdmin }}
            </p>
            <p>
              <strong>Dosage:</strong>
              {{ patientmedication.Dosage }}
            </p>
            <p>
              <strong>Units Per Day:</strong>
              {{ patientmedication.UnitsPerDay }}
            </p>
            <p>
              <strong>Start date:</strong>
              {{ patientmedication.StartDate }}
            </p>
            <p>
              <strong>Finish date:</strong>
              {{ patientmedication.FinishDate }}
            </p>
          <div style="border-top: solid 5px green"></div>
        </div>
      </div>
    </div>
</div>