<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <div style="border-top: solid 5px green"></div>
      <div *ngFor="let patient of patients | async">
        <p>Patient Number: {{patient.PatientNumber}}</p>
        <p>First name: {{patient.FirstName}}</p>
        <p>Last name: {{patient.LastName}}</p>
        <button type="button" (click)="addToOutpatients(patient.PatientNumber)" class="btn btn-success">Refer to outpatient clinic</button>
        <button type="button" (click)="removeFromOutpatients(patient.PatientNumber)" class="btn btn-success">Remove from outpatient clinic</button>
        <div style="border-top: solid 5px green"></div>
      </div>
    </div>
    <div class="col-4">
        <h2>Outpatients</h2>
        <div *ngFor="let outpatient of outpatients | async">
          {{ outpatient.DateTimeOfAppointmentToClinic }} {{ outpatient.OutPatientNumber }}
          <button type="button" class="btn btn-success" (click)="getPatient(outpatient.OutPatientNumber)">Get patient details</button>
        </div>
        <div *ngFor="let patient of patients | async">
          <div *ngIf="clicked">
            <p>
              First Name: {{patient.FirstName}}
            </p>
            <p>
              Last Name: {{patient.LastName}}
            </p>
            <p>
              Address: {{patient.Address.Street}} {{patient.Address.Zip}} {{patient.Address.City}}
            </p>
            <p>
              Date of birth: {{patient.DateOfBirth}}
            </p>
            <p>
              Gender: {{patient.Gender}}
            </p>
            <p>
              Marital status: {{patient.MaritalStatus}}
            </p>
            <p>
              Phone number: {{patient.PhoneNumber}}
            </p>
            <p>
              Local doctor: {{patient.LocalDoctor.FullName}} {{patient.LocalDoctor.Address.Street}} {{patient.LocalDoctor.Address.Zip}}
              {{patient.LocalDoctor.Address.City}} {{patient.LocalDoctor.PhoneNumber}} {{patient.LocalDoctor.ClinicNumber}}
            </p>
          </div>
        </div>
      </div>
    <!-- <div class="col-4">
      <h2>Outpatients</h2>
      <div *ngFor="let combined of combinedList | async">
        <strong>{{combined.OutPatientNumber}} {{combined.DateTimeOfAppointmentToClinic}}</strong>
        <div *ngIf="combined.PatientNumber == combined.OutPatientNumber">
          <p>
            First Name: {{combined.FirstName}}
          </p>
          <p>
            Last Name: {{combined.FirstName}}
          </p>
          <p>
            Address: {{combined.Address.Street}} {{combined.Address.Zip}} {{combined.Address.City}}
          </p>
          <p>
            Date of birth: {{combined.DateOfBirth}}
          </p>
          <p>
            Gender: {{combined.Gender}}
          </p>
          <p>
            Marital status: {{combined.MaritalStatus}}
          </p>
          <p>
            Phone number: {{combined.PhoneNumber}}
          </p>
          <p>
            Local doctor: {{combined.LocalDoctor.FullName}} {{combined.LocalDoctor.Address.Street}} {{combined.LocalDoctor.Address.Zip}} {{combined.LocalDoctor.Address.City}} {{combined.LocalDoctor.PhoneNumber}} {{combined.LocalDoctor.ClinicNumber}}
          </p>
        </div>
      </div>
    </div> -->
  </div>
</div>