<h1>Supplies in ward</h1>
<app-supplies-in-ward></app-supplies-in-ward>
<h1>Suppliers</h1>
<app-create-maintain-suppliers></app-create-maintain-suppliers>
<h1>Patients on waiting list</h1>
<app-patients-on-waitinglist></app-patients-on-waitinglist>
<h1>Create and maintain outpatients</h1>
<app-create-maintain-outpatients></app-create-maintain-outpatients>
<hr/>
<h1>Search for staff</h1>
<app-search-for-staff></app-search-for-staff>
<hr/>
<h1>Staff</h1>
<app-staff></app-staff>
<hr/>
<br>
<p>Patients</p>
<app-patients></app-patients>
<app-get-update-patients></app-get-update-patients>
<app-getstaffinward></app-getstaffinward>
<app-inpatients></app-inpatients>
<app-getinpatientinward></app-getinpatientinward>
<p>Medication</p>
<app-medicationforpatient></app-medicationforpatient>
<app-getpatientmedication></app-getpatientmedication>
<p>Requisition</p>
<app-createmaintainrequisitions></app-createmaintainrequisitions>