<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <form>
        <div class="form-group">
          <input type="text" name="firstName" placeholder="First name" [(ngModel)]="firstName" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="lastName" placeholder="Last name" [(ngModel)]="lastName" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="street" placeholder="Street" [(ngModel)]="street" class="form-control">
        </div>
        <div class="form-group">
          <input type="number" name="zip" placeholder="Zip" [(ngModel)]="zip" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="city" placeholder="City" [(ngModel)]="city" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="gender" placeholder="Gender" [(ngModel)]="gender" class="form-control">
        </div>
        <div class="form-group">
          <input type="date" name="dateOfBirth" placeholder="Date of birth" [(ngModel)]="dateOfBirth" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="telephoneNumber" placeholder="Telephone number" [(ngModel)]="telephoneNumber" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="insuranceNumber" placeholder="Insurance number" [(ngModel)]="insuranceNumber" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="position" placeholder="Position" [(ngModel)]="position" class="form-control">
        </div>
        <div class="form-group">
          <input type="number" name="currentSalary" placeholder="Current salary" [(ngModel)]="currentSalary" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="whenPaid" placeholder="When paid" [(ngModel)]="whenPaid" class="form-control">
        </div>
        <div class="form-group">
          <input type="number" name="hoursPerWeek" placeholder="Hours per week" [(ngModel)]="hoursPerWeek" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="permanentOrTemporary" placeholder="Permanent or temporary" [(ngModel)]="permanentOrTemporary" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="salaryScale" placeholder="Salary ccale" [(ngModel)]="salaryScale" class="form-control">
        </div>
        <button type="submit" class="btn btn-success" *ngIf="isVisibleCreate" (click)="onSubmit()">Create staff</button>
      </form>
      <button type="submit" (click)="onUpdate(this.id)" class="btn btn-success" *ngIf="isVisibleUpdate">Update staff</button>
    </div>
    <div class="col-6 offset-2">
      <div style="border-top: solid 5px green"></div>
      <div *ngFor="let staff of staffs | async">
        <p>
          <strong>Staff number: </strong>
          {{ staff.StaffNumber }}
        </p>
        <p>
          <strong>First name: </strong>
          {{ staff.FirstName }}
        </p>
        <p>
          <strong>Last name: </strong>
          {{ staff.LastName }}
        </p>
        <p>
          <strong>Address: </strong>
          {{ staff.Address.Street }} {{ staff.Address.Zip }} {{ staff.Address.City}}
        </p>
        <p>
          <strong>Gender: </strong>
          {{ staff.Gender }}
        </p>
        <p>
          <strong>Date of birth: </strong>
          {{ staff.DateOfBirth }}
        </p>
        <p>
          <strong>Telephone Number: </strong>
          {{staff.TelephoneNumber}}
        </p>
        <p>
          <strong>Insurance Number: </strong>
          {{staff.InsuranceNumber}}
        </p>
        <p>
          <strong>Position: </strong>
          {{staff.Position}}
        </p>
        <p>
          <strong>Current Salary: </strong>
          {{staff.CurrentSalary}}
        </p>
        <p>
          <strong>When Paid: </strong>
          {{staff.WhenPaid}}
        </p>
        <p>
          <strong>Hours Per Week: </strong>
          {{staff.HoursPerWeek}}
        </p>
        <p>
          <strong>Permanent Or Temporary: </strong>
          {{staff.PermanentOrTemporary}}
        </p>
        <p>
          <strong>Salary Scale: </strong>
          {{staff.SalaryScale}}
        </p>
        <strong>Qualifications</strong>
        <!-- <div *ngFor="let qualifications of staff.Qualifications" style="border-bottom: 1px dashed black"> -->
          <p>
            <strong>Date: </strong>
            {{staff.Qualifications.Date}}
          </p>
          <p>
            <strong>Institution: </strong>
            {{staff.Qualifications.Institution}}
          </p>
          <p>
            <strong>Type: </strong>
            {{staff.Qualifications.Type}}
          </p>
        <!-- </div> -->
        <strong>Work Experience</strong>
        <!-- <div *ngFor="let workExperience of staff.WorkExperience" style="border-bottom: 1px dashed black"> -->
          <p>
            <strong>Start Date: </strong>
            {{staff.WorkExperience.StartDate}}
          </p>
          <p>
            <strong>Finish Date: </strong>
            {{staff.WorkExperience.FinishDate}}
          </p>
          <p>
            <strong>Position: </strong>
            {{staff.WorkExperience.Position}}
          </p>
          <p>
            <strong>Organization: </strong>
            {{staff.WorkExperience.Organization}}
          </p>
        <!-- </div> -->
        <button type="button" class="btn btn-primary" (click)="onEdit(staff.StaffNumber, staff.FirstName, staff.LastName, staff.Address.Street, staff.Address.Zip, staff.Address.City, staff.Gender, staff.DateOfBirth, staff.TelephoneNumber, staff.InsuranceNumber, staff.Position, staff.CurrentSalary, staff.WhenPaid, staff.HoursPerWeek, staff.PermanentOrTemporary, staff.SalaryScale)">Edit</button>
        <div style="border-top: solid 5px green"></div>
      </div>
    </div>
  </div>
</div>